
body {
    background-color: #fff;
}

h2 {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.form-container {
    position: relative;
}

.form-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form-container._sending::after {
    opacity: 1;
    visibility: visible;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.form button {
    margin-top: 10px;
}

input {
    width: 100%;
}

input:focus {
    outline: none;
}

input:valid {
}

input:invalid {
    border-color: #f76565;
}

input:not(:focus):invalid {
    border-color: revert;
}

textarea {
    width: 100%;
}

textarea:focus {
    outline: none;
}

textarea:valid {
}

textarea:invalid {
    border-color: #f76565;
}

textarea:not(:focus):invalid {
    border-color: revert;
}
